{:paths ["blog-code"]
 :deps  {babashka/fs               {:mvn/version "0.1.0"}
         markdown-clj/markdown-clj {:mvn/version "1.10.7"}}
 :tasks
 {new     {:doc      "Create new blog article"
           :requires ([tasks-helper :as th])
           :task     (th/new)}
  render  {:doc      "Render blog"
           :requires ([render])
           :task     (render/render)}
  watch   {:doc      "Watch posts and templates, and render file changes"
           :depends  [render]
           :requires ([watch])
           :task     (watch/watch)}
  publish {:doc      "Publish to blog"
           :depends  [render]
           :requires ([tasks-helper :as th])
           :task     (th/publish)}
  clean   {:doc      "Remove .work and public directory"
           :requires ([tasks-helper :as th])
           :task     (th/clean)}}}
