<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    {{ template "chrome/includes.html" . }}
  </head>
  <body>
    <div class="container">
      {{ template "chrome/topnav.html" . }}
      {{ template "chrome/start-content.html" . }}     
      {{ range .Data.Pages }}
        <li class="list-unstyled">
           <span class="post-date">{{ .Date.Day }} {{ .Date.Month }} {{ .Date.Year }}</span>
            &nbsp;<a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
      {{ template "chrome/end-content.html" . }}     
    </div>
    {{ template "chrome/footer.html" . }}
   </body>
</html>
